/* 
=============
    Font
=============
*/

@font-face {
    font-family: "Lenia";
    src: url('fonts/LeniaMonoDemoRegular-V45G0.ttf') format('truetype');
}

/* 
=============
    Reset
=============
*/

html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Lenia";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    font-size: 1.6rem;
    flex-direction: column;
}

/* 
==============
  Calculator
==============
*/

.calculator {
    max-width: 38rem;
    background-color: #000000;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 5rem;
}

.display__input {
    outline: none;
    border: none;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    background-color: #343434;
    pointer-events: none;
    font-size: 2.8rem;
    color: #fff;
}

.display__input::placeholder {
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.btn {
    cursor: pointer;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 3rem;
    transition: 150ms;
    background-color: rgba(71, 71, 71, 0.539);
    color: #fff;
}

.btn:active {
    background-color: rgba(123, 123, 123, 0.429);
    transform: scale(0.94);
}

.operator {
    color: rgb(221, 125, 0);
}

.equal {
    background-color: rgb(236, 134, 0);
    ;
}

@media (max-width:420px) {
    .btn {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media (max-width:370px) {
    .btn {
        width: 5.5rem;
        height: 5.5rem;
        font-size: 2.5rem;
    }
}